.dateRow {
  display: flex;
  justify-content: center;
  margin: 12px 0;
  position: sticky;
  top: 10px;
  z-index: 10;
}

.dateChip {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px 12px;
  border-radius: 7.5px;
  font-size: 12.5px;
  color: var(--color-text-secondary);
  box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.08);
}
